<template>
  <div v-if="project">
    <div class="bg-[#fb4d3d] text-white sawtooth sawtooth-red pt-12 pb-20">
      <div class="container">
        <NuxtLink :to="localePath('index')" class="hover:underline">&#10094; {{ $t('common.back') }}</NuxtLink>
        <h1 class="text-4xl text-center pb-16 pt-3">{{ $t('project.title') }}: {{ project.name }}</h1>
        <div class="grid grid-cols-1 gap-x-12 gap-y-6" :class="{'md:grid-cols-2': project.image}">
          <div>
            <p v-html="project.description"></p>
            <table class="project-table mt-4 md:table-auto table-fixed md:break-normal break-words">
              <tbody>
              <tr>
                <th>{{ $t('project.information.name') }}</th>
                <td>{{ project.name }}</td>
              </tr>
              <tr v-if="project.deployed_at">
                <th>{{ $t('project.information.deployed_at') }}</th>
                <td><a class="underline" :href="project.deployed_at" target="_blank" rel="noopener">{{ project.deployed_at }}</a></td>
              </tr>
              <tr>
                <th>{{ $t('project.information.first_release') }}</th>
                <td>{{ first_release }}</td>
              </tr>
              <tr>
                <th>{{ $t('project.information.contributors') }}</th>
                <td>
                  <template v-for="(contributor, index) in project.contributors">
                    <a class="underline" v-if="contributor.url" :key="contributor.id" :href="contributor.url" target="_blank" rel="noopener">{{ contributor.first_name}} {{ contributor.last_name }}</a><span v-else :key="contributor.id">{{ contributor.first_name}} {{ contributor.last_name }}</span><span v-if="index !== project.contributors.length - 1" :key="index">, </span>
                  </template>
                </td>
              </tr>
              <tr>
                <th>{{ $t('project.information.frameworks') }}</th>
                <td>
                  <template v-for="(framework, index) in project.frameworks">
                    {{ framework.name }} ({{ framework.language.name }})<span v-if="index !== project.frameworks.length - 1" :key="index">,</span>
                  </template>
                </td>
              </tr>
              <tr>
                <th>{{ $t('project.information.repositories') }}</th>
                <td>
                  <template v-for="(repository, index) in project.repositories">
                    {{ repository.name }}:
                    <span v-if="repository.url" :key="repository.id">
                        <a class="underline" :href="repository.url" target="_blank" rel="noopener">{{ repository.url }}</a>
                      </span>
                    <span v-else :key="repository.id">
                        <em>{{ $t('project.information.repository_not_available') }}</em>
                      </span>
                    <br v-if="index !== project.repositories.length" :key="`i-${index}`"/>
                  </template>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <img v-if="project.image" :src="project.image" width="100%" alt="Screenshot">
        </div>
      </div>
    </div>
    <XFooter background-color="white" color="#fb4d3d"></XFooter>
  </div>
</template>

<script>
import XFooter from "../../components/XFooter";

export default {
  name: "Project",
  components: { XFooter },
  nuxtI18n: {
    paths: {
      nl: '/projecten/:identifier',
      en: '/projects/:identifier'
    }
  },
  computed: {
    first_release() {
      if (!this.project) {
        return '';
      }
      const date = new Date(this.project.first_release);
      return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`
    },
  },
  data() {
    return {
      project: null
    }
  },
  async fetch() {
    this.project = await this.$axios.get(
      `/projects/${this.$route.params.identifier}`
    ).then(res => res.data)
     .catch(() => this.$router.push({ path: '/' }));
  }
}
</script>

<style lang="scss" scoped>
.project-table {
  width: 100%;
  border: 1px solid $white;
  border-collapse: collapse;

  th, td {
    padding: .5rem;
    vertical-align: top;
    text-align: left;
    border: 1px solid $white;
  }
}
</style>
