<template>
  <div>
    <div class="bg-[#03cea4] text-white sawtooth sawtooth-green pt-12 pb-20">
      <div class="container">
        <NuxtLink :to="localePath('index')" class="hover:underline">&#10094; {{ $t('common.back') }}</NuxtLink>
        <h1 class="text-4xl text-center pb-8 pt-3">{{ $t('research.bsc.title') }}</h1>
        <p v-html="$t('research.bsc.download_bachelor_thesis')"></p>
        <p class="mt-4" v-html="$t('research.bsc.download_bachelor_appendix')"></p>
        <iframe class="mt-4 max-w-full md:max-w-none" width="560" height="315" src="https://www.youtube-nocookie.com/embed/Rcd0CfD1oCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- ugly, but necessary for some reason because otherwise the 'underline' and 'font-bold' classes are not applied -->
        <div class="hidden underline font-bold"></div>
      </div>
    </div>
    <XFooter background-color="white" color="#03cea4"></XFooter>
  </div>
</template>

<script>
import XFooter from "../../components/XFooter";

export default {
  name: "BscResearch",
  components: { XFooter },
  nuxtI18n: {
    paths: {
      nl: '/onderzoek/bsc',
      en: '/research/bsc'
    }
  }
}
</script>

<style scoped>

</style>
