<template>
  <div>
    <div class="bg-[#3c31dd] text-white sawtooth sawtooth-blue pt-12 pb-20">
      <div class="container">
        <NuxtLink :to="localePath('index')" class="hover:underline">&#10094; {{ $t('common.back') }}</NuxtLink>
        <h1 class="text-4xl text-center pb-8 pt-3">{{ $t('research.msc.title') }}</h1>
        <h2 class="text-3xl font-bold">zk-SCHNAPS: Enforcing Arbitrary Password Policies in a Zero-Knowledge Password Protocol</h2>
        <p class="pt-2">
          <b>Abstract:</b> In this thesis, we introduce zk-SCHNAPS; zero-knowledge Secure Commitment-based Homomorphic Non-interactive Authentication with Passwords using SNARKs. With this password authentication protocol, arbitrary password policies can be enforced by a server, without having the requirement or possibility of inspecting the password. This prevents a server from leaking users' passwords, whether accidentally or on purpose, while still forcing users to choose strong passwords. We do this by using a zk-SNARK to proof compliance of a password during registration, and combining it with a SNARK-friendly encryption scheme (SAVER) to yield an encryption of the password that can be stored by the server. During login, the password is encrypted similar to the SAVER encryption and combined with a zero-knowledge proof, affirming the knowledge of the password that is encrypted. Using the homomorphic property of SAVER, the server can check whether the passwords are equal, without decrypting the individual ciphertexts. We implemented the proposed scheme and show that both proof generation and password verification run in practical time (a few seconds and less than a second respectively) for several real-world password policies, including a blocklist of 100,000 items.
        </p>

        <div class="grid md:grid-cols-4 grid-cols-1 gap-y-12 gap-x-16 mt-12">
          <a class="box" href="https://essay.utwente.nl/93502/" target="_blank" rel="noopener">
            <i class="fas fa-3x fa-building-columns mb-4 mt-2"></i>
            <h3>{{ $t('research.msc.view_in_university_repository') }}</h3>
          </a>
          <a class="box" href="/files/research/msc/thesis.pdf" target="_blank" rel="noopener">
            <i class="fas fa-3x fa-book mb-4 mt-2"></i>
            <h3>{{ $t('research.msc.download_thesis') }}</h3>
          </a>
          <a class="box" href="/files/research/msc/presentation.pdf" target="_blank" rel="noopener">
            <i class="fas fa-3x fa-chalkboard-user mb-4 mt-2"></i>
            <h3>{{ $t('research.msc.download_presentation') }}</h3>
          </a>
          <a class="box" href="https://gitlab.com/Matthiti/schnapsjs" target="_blank" rel="noopener">
            <i class="fa fa-3x fa-terminal mb-4 mt-2"></i>
            <h3>{{ $t('research.msc.view_code') }}</h3>
          </a>
        </div>
      </div>
    </div>
    <XFooter background-color="white" color="#3c31dd"></XFooter>
  </div>
</template>

<script>
import XFooter from "../../components/XFooter";

export default {
  name: "MscResearch",
  components: { XFooter },
  nuxtI18n: {
    paths: {
      nl: '/onderzoek/msc',
      en: '/research/msc'
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background-color: $white;
  color: $blue;

  &:hover {
    background-color: #edf2f7;
  }
}
</style>
