<template>
  <div>
    <div id="contact" class="pt-32 pb-32" :style="{'background-color': backgroundColor, 'color': color}">
      <div class="container text-center">
        <h2 class="text-4xl pb-12">{{ $t('footer.title') }}</h2>
        <h3 class="mb-8 text-xl">{{ $t('footer.description') }}</h3>
        <div class="flex flex-col hover:underline icon-btn">
          <a href="javascript:void(0)" @click="onEmailClick">
            <i class="far fa-envelope fa-4x mb-3 sr-icons"></i>
          </a>
          <a href="javascript:void(0)" @click="onEmailClick">matthijs@roelink.eu</a>
        </div>
      </div>
    </div>

    <footer class="pb-4" :style="{'background-color': backgroundColor, 'color': color}">
      <div class="container">
        <div class="flex">
          <div class="pr-8">
            <a href="https://www.linkedin.com/in/matthijs-roelink" target="_blank" rel="noopener">
              <i class="fab fa-linkedin fa-3x mb-3 sr-icons icon-btn"></i>
            </a>
          </div>
          <div class="pr-8">
            <a href="https://github.com/Matthiti" target="_blank" rel="noopener">
              <i class="fab fa-github fa-3x mb-3 sr-icons icon-btn"></i>
            </a>
          </div>
          <div>
            <a href="https://gitlab.com/Matthiti" target="_blank" rel="noopener">
              <i class="fab fa-gitlab fa-3x mb-3 sr-icons icon-btn"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "XFooter",
  props: {
    backgroundColor: {
      type: String,
      required: false,
      default: () => 'inherit'
    },
    color: {
      type: String,
      required: false,
      default: () => 'black'
    }
  },
  methods: {
    onEmailClick() {
      const link = document.createElement('a');
      link.href = 'mailto:matthijs@roelink.eu';
      link.click();
      link.remove();
    }
  },
  mounted() {
    this.$sr.reveal('.sr-icons', {
      duration: 800,
      scale: 0.3,
      distance: '0px',
      reset: true
    });
  }
}
</script>

<style scoped>
</style>
