<template>
  <div>
    <Nuxt />
    <NuxtLink :to="switchLocalePath(isNL ? 'en' : 'nl')" class="language-selector">
      <img v-if="isNL" src="~assets/images/flags/gb.svg" height="30" width="30" alt="en">
      <img v-else src="~assets/images/flags/nl.svg" height="30" width="30" alt="nl">
    </NuxtLink>
  </div>
</template>

<script>
export default {
  name: "DefaultLayout",
  computed: {
    isNL() {
      return this.$i18n.locale === 'nl';
    }
  }
}
</script>

<style lang="scss" scoped>
.language-selector {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background-color: $white;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;

  img {
    height: 30px;
  }

  &:hover {
    background-color: #edf2f7;
  }
}

@media print {
  .language-selector {
    display: none;
  }
}
</style>
