<template>
  <div>
    <div class="h-screen flex justify-center">
      <div class="my-auto text-center">
        <div class="inline-block">
          <h1 class="typewriter text-5xl">{{ $t('index.welcome.title') }}</h1>
        </div>
        <h2 class="text-2xl subtitle text-gray-500 pt-2">{{ $t('index.welcome.subtitle') }}</h2>
      </div>
    </div>

    <div class="diagonal-box pt-44 pb-32" ref="diagonalBoxOne">
      <div class="container">
        <div class="grid md:grid-cols-2 grid-cols-1 gap-y-12">
          <img class="h-auto mx-auto sr-icons" src="~/assets/images/profile.png" height="50%" width="50%">
          <div>
            <h2 class="text-4xl text-white pb-4 text-center md:text-left">{{ $t('index.about.title') }}</h2>
            <p class="text-white">{{ $t('index.about.description') }}</p>
            <div class="grid md:grid-cols-3 grid-cols-1 mt-5 gap-x-4 gap-y-4">
              <NuxtLink :to="localePath('resume')" class="btn btn-white">{{ $t('index.about.buttons.view_resume') }}</NuxtLink>
              <a class="btn btn-white" href="https://blog.roelink.eu" target="_blank" rel="noopener">{{ $t('index.about.buttons.view_blog') }}</a>
              <div class="btn btn-white" v-scroll-to="'#contact'">{{ $t('index.about.buttons.contact') }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fill-up"></div>

    <div class="wave pb-64 pt-24 mt-[-6.14vw]">
      <div class="container">
        <h2 class="text-4xl text-white text-center pb-16">{{ $t('index.interests.title') }}</h2>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-y-12">
          <div class="text-center text-white">
            <i class="fas fa-5x fa-shield mb-3 sr-icons"></i>
            <h3 class="text-xl">{{ $t('index.interests.items.cyber_security') }}</h3>
          </div>
          <div class="text-center text-white">
            <i class="fas fa-5x fa-code mb-3 sr-icons"></i>
            <h3 class="text-xl">{{ $t('index.interests.items.software_development') }}</h3>
          </div>
          <div class="text-center text-white">
            <i class="fab fa-5x fa-ethereum mb-3 sr-icons"></i>
            <h3 class="text-xl">{{ $t('index.interests.items.blockchain') }}</h3>
          </div>
        </div>
      </div>
      <div class="curve"></div>
    </div>

    <div class="pt-52 pb-52">
      <div class="container">
        <h2 class="text-4xl text-center pb-16">{{ $t('index.skills.title') }}</h2>
        <div class="grid md:grid-cols-4 grid-cols-1 gap-y-12">
          <div class="text-center">
            <i class="fas fa-5x fa-desktop mb-3 sr-icons"></i>
            <h3 class="text-xl">Frontend</h3>
            <p class="text-gray-500 pt-4">Vue, React</p>
          </div>
          <div class="text-center">
            <i class="fas fa-5x fa-server mb-3 sr-icons"></i>
            <h3 class="text-xl">Backend</h3>
            <p class="text-gray-500 pt-4">Spring Boot, Django,<br>Flask, PHP Lumen</p>
          </div>
          <div class="text-center">
            <i class="fab fa-5x fa-docker mb-3 sr-icons"></i>
            <h3 class="text-xl">Docker</h3>
          </div>
          <div class="text-center">
            <i class="fas fa-5x fa-dharmachakra mb-3 sr-icons"></i>
            <h3 class="text-xl">Kubernetes</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="arrow-down arrow-down-red"></div>

    <div class="pt-32 pb-40 bg-[#fb4d3d]">
      <div class="container">
        <h2 class="text-4xl text-center pb-16 text-white">{{ $t('index.portfolio.title') }}</h2>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-y-12 gap-x-16">
          <a class="portfolio-box sr-icons" href="https://neu-nl.nl" target="_blank" rel="noopener">
            <img class="rounded" src="~/assets/images/neu-nl.png" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-gray-100">
                {{ $t('index.portfolio.items.website') }} (2019)
              </div>
              <div class="project-name text-white">
                NEU.NL
              </div>
            </div>
          </a>
          <NuxtLink :to="localePath('research-bsc')" class="portfolio-box sr-icons">
            <img class="rounded" src="~/assets/images/deadlock-free-monitors.png" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-gray-100">
                {{ $t('index.portfolio.items.research') }} (2020)
              </div>
              <div class="project-name text-white">
                Encoding Deadlock-Free Monitors in the Vercors Verification Tool
              </div>
            </div>
          </NuxtLink>
          <a class="portfolio-box sr-icons" href="https://bindrveuroe.nl" target="_blank" rel="noopener">
            <img class="rounded" src="~/assets/images/bindr.png" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-gray-100">
                {{ $t('index.portfolio.items.website') }} (2021)
              </div>
              <div class="project-name text-white">
                Bind'r
              </div>
            </div>
          </a>
          <a class="portfolio-box sr-icons" href="https://physio-vochteloo.de" target="_blank" rel="noopener">
            <img class="rounded" src="~/assets/images/physio-vochteloo.png" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-gray-100">
                {{ $t('index.portfolio.items.website') }} (2022)
              </div>
              <div class="project-name text-white">
                Physiotherapie Wout Vochteloo
              </div>
            </div>
          </a>
          <NuxtLink :to="localePath('research-msc')" class="portfolio-box sr-icons">
            <img class="rounded" src="~/assets/images/zk-schnaps.png" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-gray-100">
                {{ $t('index.portfolio.items.research') }} (2022)
              </div>
              <div class="project-name text-white">
                zk-SCHNAPS: Enforcing Arbitrary Password Policies in a Zero-Knowledge Password Protocol
              </div>
            </div>
          </NuxtLink>
        </div>
      </div>
    </div>

    <div class="arrow-down arrow-down-green"></div>

    <div class="pt-24 pb-32 bg-[#03cea4] sawtooth sawtooth-green">
      <div class="container text-white">
        <h2 class="text-4xl text-center pb-16">{{ $t('index.projects.title') }}</h2>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-1 gap-y-12 gap-x-12">
          <div class="text-center hover:underline icon-btn" v-for="project in projects" :key="project.id">
            <NuxtLink :to="localePath({ name: 'projects-identifier', params: { identifier: project.identifier } })">
              <i class="fa-5x mb-3 sr-icons" :class="project.icon_classes"></i>
            </NuxtLink>
            <h3 class="text-xl">
              <NuxtLink :to="localePath({ name: 'projects-identifier', params: { identifier: project.identifier } })">{{ project.name }}</NuxtLink>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="gradient-fillup"></div>

    <XFooter background-color="#3c31dd" color="white"></XFooter>
  </div>
</template>

<script>
import XFooter from "../components/XFooter";

export default {
  name: 'IndexPage',
  components: { XFooter },
  data() {
    return {
      projects: []
    }
  },
  async fetch() {
    this.projects = await this.$axios.get('/projects').then(res => res.data);
  },
  mounted() {
    this.$sr.reveal('.sr-icons', {
      duration: 800,
      scale: 0.3,
      distance: '0px',
      reset: true
    });
  }
}
</script>

<style lang="scss" scoped>
// https://css-tricks.com/snippets/css/typewriter-effect/
.typewriter {
  overflow: hidden;
  border-right: .1em solid $green;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 1.5s steps(30, end), blink-caret .75s step-end infinite;
}

@media screen and (max-width: 800px) {
  .typewriter {
    font-size: 6vw;
  }

  .subtitle {
    font-size: 4vw;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $green }
}

.diagonal-box {
  background-image: linear-gradient(45deg, $green, $lighter-green);
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.fill-up {
  background-color: $blue;
  transform: skewY(-7deg);
  height: 12.28vw; // = Math.tan(7 * Math.PI / 180) * 100vw
}

// https://fireship.io/lessons/wavy-backgrounds/
.wave {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $blue;

  .curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
    overflow-x: clip;

    &:before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100% 50%;
      width: 55%;
      height: 100%;
      transform: translate(85%, 60%);
      background-color: $white;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100% 50%;
      width: 55%;
      height: 100%;
      background-color: $blue;
      transform: translate(-4%, 40%);
      z-index: -1;
    }
  }
}

.portfolio-box {
  position: relative;
  display: block;

  .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    text-align: center;
    opacity: 0;

    color: $white;
    background: fade-out($green, .15);
    transition: opacity 0.25s ease;

    .project-category {
      font-size: 0.85rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .project-name {
      font-size: 1.2rem;
    }
  }
  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;

  &.arrow-down-green {
    border-top: 75px solid $red;
    background-color: $green;
  }

  &.arrow-down-red {
    border-top: 75px solid $white;
    background-color: $red;
  }
}
</style>
