<template>
  <div id="root">
    <div class="bg-[#3c31dd] text-white sawtooth sawtooth-blue pt-12 print:pt-0 pb-20">
      <div class="container print:block">
        <NuxtLink :to="localePath('index')" id="back-button" class="hover:underline">&#10094; {{ $t('common.back') }}</NuxtLink>
        <div class="print">
          <h1 class="text-4xl text-center print:text-left pb-12 print:pb-4 pt-3 print:pt-0">{{ $t('resume.title') }}</h1>
          <div v-if="resume">
            <div class="grid md:grid-cols-2 print:grid-cols-2 grid-cols-1 gap-y-12">
              <div>
                <table class="resume-table">
                  <thead>
                  <tr>
                    <th class="w-3/5"></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{ $t('resume.personal.name') }}:</td>
                    <td>{{ resume.first_name }} {{ resume.last_name }}</td>
                  </tr>
                  <tr v-if="resume.address">
                    <td>{{ $t('resume.personal.address') }}:</td>
                    <td>{{ resume.address }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('resume.personal.city') }}:</td>
                    <td>{{ resume.city }}</td>
                  </tr>
                  <tr v-if="resume.phone_number">
                    <td>{{ $t('resume.personal.phone_number') }}:</td>
                    <td>{{ resume.phone_number }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('resume.personal.email_address') }}:</td>
                    <td>{{ resume.email }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('resume.personal.date_of_birth') }}</td>
                    <td>{{ date_of_birth }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('resume.personal.place_of_birth') }}:</td>
                    <td>{{ resume.place_of_birth }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('resume.personal.nationality') }}:</td>
                    <td>{{ resume.nationality }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('resume.personal.marital_status') }}:</td>
                    <td>{{ resume.marital_status }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('resume.personal.driving_license') }}:</td>
                    <td>{{ resume.driving_license }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <img src="~/assets/images/profile.png" class="h-auto mx-auto" height="50%" width="50%">
            </div>
            <div class="grid grid-cols-1">
              <div v-for="cat in resume.categories" :key="cat.id" class="pt-6">
                <h2 class="text-2xl">{{ cat.name }}</h2>
                <table class="resume-table">
                  <thead>
                  <tr>
                    <th class="w-1/4"></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="exp in cat.experiences" :key="exp.id">
                    <td v-if="exp.from_date === exp.to_date">{{exp.from_date}}</td>
                    <td v-else>{{ exp.from_date }} &nbsp;&nbsp;-&nbsp;&nbsp;  {{ exp.to_date ? exp.to_date : $t('resume.present') }}</td>
                    <td>
                      <b>{{ exp.title }}</b>
                      <p class="whitespace-pre-line pt-2">{{ exp.description }}</p></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="pt-6">
              <h2 class="text-2xl">{{ $t('resume.languages') }}</h2>
              <table class="resume-table">
                <thead>
                <tr>
                  <th class="w-1/4"></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="l in resume.languages" :key="l.id">
                  <td>{{ l.name }}:</td>
                  <td>{{ l.value }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="pt-6">
              <h2 class="text-2xl pb-1">{{ $t('resume.hobbies') }}</h2>
              <span>{{ hobbies }}</span>
            </div>
          </div>
        </div>
        <div class="pt-12">
          <div class="btn btn-outline-white" @click="onPrint">{{ $t('resume.print') }}</div>
        </div>
      </div>
    </div>
    <XFooter id="footer" background-color="white" color="#3c31dd"></XFooter>
  </div>
</template>

<script>
import XFooter from "../components/XFooter";

export default {
  name: "Resume",
  components: { XFooter },
  nuxtI18n: {
    paths: {
      nl: '/cv',
      en: '/resume'
    }
  },
  computed: {
    date_of_birth() {
      if (!this.resume) {
        return '';
      }
      const date = new Date(this.resume.date_of_birth);
      return `${String(date.getDate()).padStart(2, '0')}-${String(date.getMonth() + 1).padStart(2, '0')}-${date.getFullYear()}`
    },
    hobbies() {
      if (!this.resume) {
        return '';
      }
      const hobbies = this.resume.hobbies.map(h => h.name).join(', ').toLowerCase();
      return hobbies.charAt(0).toUpperCase() + hobbies.slice(1);
    }
  },
  data() {
    return {
      resume: null
    }
  },
  methods: {
    setResume(resume) {
      resume.categories.forEach(c => c.experiences.forEach(e => {
        const from = new Date(Date.parse(e.from_date));
        if (e.month_only) {
          e.from_date = from.getFullYear() + "-" + ("0" + (from.getMonth() + 1)).slice(-2);
        }

        if (e.year_only) {
          e.from_date = from.getFullYear();
        }

        if (e.to_date) {
          const to = new Date(Date.parse(e.to_date));
          if (e.month_only) {
            e.to_date = to.getFullYear() + "-" + ("0" + (to.getMonth() + 1)).slice(-2);
          }

          if (e.year_only) {
            e.to_date = to.getFullYear();
          }
        }
      }));
      this.resume = resume;
    },
    onPrint() {
      window.print();
    }
  },
  async fetch() {
    await this.$axios.get(
      `/resumes/matthijsroelink-${this.$i18n.locale}`
    ).then(res => this.setResume(res.data));
  },
  async mounted() {
    if (!process.client) {
      return;
    }

    const resume = JSON.parse(window.localStorage.getItem('resume'));
    if (resume) {
      this.setResume(resume);
    }
  }
}
</script>

<style lang="scss" scoped>
.resume-table {
  width: 100%;
  border: 0;
  border-collapse: collapse;

  td {
    padding: .3rem;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

@media print {
  @page {
    size: a3;
    margin: 15mm 20mm 10mm 20mm;
  }

  #root {
    background-color: white !important;
  }

  #root * {
    visibility: hidden;
  }

  .container {
    max-width: inherit !important;
    padding: 0 !important;
  }

  #back-button {
    display: none;
  }

  .print, .print * {
    color: #212529 !important;
    visibility: visible !important;
  }

  #footer {
    display: none;
  }

  tr {
    height: 10px;
    page-break-inside: avoid;
  }

  td, th {
    font-size: 16px;
  }

  h2 {
    page-break-inside: avoid;
  }
}
</style>
